<main class="main">
  <div class="featured">
    <h4 class="featured__header">Obras em destaque</h4>
    <div class="container">
      <div class="featured__holder">
        <!--Featured image-->
        <div class="featured__img-container">
          <img class="featured__img" src="assets/klimt.png">
          <!--Overlay window-->
          <div class="overlay__window">
            <div class="overlay__window__img-description">
              <p class="overlay__window__img-paragraph">Gustav Klimt</p>
              <p class="overlay__window__img-paragraph">Pintura a Óleo</p>
              <p class="overlay__window__img-paragraph"> Retrato de Adele Bloch Bauer</p>
            </div>
            <div class="overlay__window__quote">
              <a class="overlay__window__quote-link" href="">
                <span class="overlay__window__quote-link_span">R$ 23 / quota</span>
                <span class="overlay__window__quote-link_span"> > </span>
              </a>
            </div>
          </div>
        </div>
        <!--Featured image-->
        <div class="featured__img-container">
          <img class="featured__img" src="assets/moon night.png">
          <!--Overlay window-->
          <div class="overlay__window">
            <div class="overlay__window__img-description">
              <p class="overlay__window__img-paragraph">Gustav Klimt</p>
              <p class="overlay__window__img-paragraph">Pintura a Óleo</p>
              <p class="overlay__window__img-paragraph"> Retrato de Adele Bloch Bauer</p>
            </div>
            <div class="overlay__window__quote">
              <a class="overlay__window__quote-link" href="">
                <span class="overlay__window__quote-link_span">R$ 23 / quota</span>
                <span class="overlay__window__quote-link_span"> > </span>
              </a>
            </div>
          </div>
        </div>
        <!--Featured image-->
        <div class="featured__img-container">
          <img class="featured__img" src="assets/van gogh.png">
          <!--Overlay window-->
          <div class="overlay__window">
            <div class="overlay__window__img-description">
              <p class="overlay__window__img-paragraph">Gustav Klimt</p>
              <p class="overlay__window__img-paragraph">Pintura a Óleo</p>
              <p class="overlay__window__img-paragraph"> Retrato de Adele Bloch Bauer</p>
            </div>
            <div class="overlay__window__quote">
              <a class="overlay__window__quote-link" href="">
                <span class="overlay__window__quote-link_span">R$ 23 / quota</span>
                <span class="overlay__window__quote-link_span"> > </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <a class="featured__link" href="">Ver mais ></a>
    </div>
  </div>
          
  <!--Purchases block-->
  <div class="purchases">
  <h4 class="purchases__header">Suas últimas compras</h4>
    <div class="container">
      <div class="purchases__holder">
          <!--Purchases image-->
          <div class="purchases__img-container">
            <img class="purchases__img" src="assets/klimt.png">
          </div>
          <!--Purchases image-->
          <div class="purchases__img-container">
            <img class="purchases__img" src="assets/moon night.png">
          </div>
          <!--Purchases image-->
          <div class="purchases__img-container">
            <img class="purchases__img" src="assets/van gogh.png">
          </div>
      </div>
    </div>
  </div>  
</main>